body {
  background-color: #1c1c1c;
}

button {
  padding: 0.75rem 0.25rem;
  border: none;
  background-color: #3c3c3c;
  color: #fff;
}

button:hover {
  cursor: pointer;
  background-color: #6c6c6c;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 1rem;
}

.notation-system {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1rem;
}

.result {
  text-align: center;
  color: #fff;
}

.bold {
  font-weight: bold;
}

.large-text {
  font-size: 2rem;
}
