body {
  background-color: #1c1c1c;
}

button {
  padding: 0.75rem 0.25rem;
  border: none;
  background-color: #3c3c3c;
  color: #fff;
  font-size: 1.25rem;
}

button:hover {
  cursor: pointer;
  background-color: #6c6c6c;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 1rem;
}

.notation-system {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 1rem;
}

.result {
  text-align: center;
  color: #fff;
}

.reference-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: calc(100% - 2rem);
  height: auto;
}

.compatible-keys-header {
  margin-top: 0.5rem;
  font-size: 1.25rem;
}

.compatible-key {
  font-size: 1.2rem;
  padding-top: 0.5rem;
}

.bold {
  font-weight: bold;
}

.large-text {
  font-size: 2rem;
}
